<robot name="test_icub">
    <link name="base_link" />
    <link name="chest">
        <inertial>
            <mass value="4.81" />
            <origin xyz="0.00231 0.1933 -1.18362e-17" rpy="0 -0 0" />
            <inertia ixx="0.07472" ixy="-3.6e-06" ixz="-4.705e-05" iyy="0.08145" iyz="0.004567" izz="0.01306" />
        </inertial>
    </link>
    <link name="head">
        <inertial>
            <mass value="1.33687" />
            <origin xyz="0.0185 -0.1108 6.78454e-18" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="2.40741e-35" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="imu_frame">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="l_ankle_1">
        <inertial>
            <mass value="0.643" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4.76593" ixy="9.7426e-06" ixz="2.68085e-05" iyy="0.0040935" iyz="-0.000353796" izz="0.0036688" />
        </inertial>
    </link>
    <link name="l_arm">
        <inertial>
            <mass value="0.727843" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.000408" ixy="2.29e-06" ixz="-1.08e-06" iyy="0.00026" iyz="-3.57e-06" izz="0.00038" />
        </inertial>
    </link>
    <link name="l_elbow_1">
        <inertial>
            <mass value="0.074" />
            <origin xyz="-0.015 0 0" rpy="0 -0 0" />
            <inertia ixx="2.8389e-05" ixy="-5.15e-07" ixz="-4.08e-07" iyy="9.244e-06" iyz="-3.71e-07" izz="2.9968e-05" />
        </inertial>
    </link>
    <link name="l_foot">
        <inertial>
            <mass value="0.861" />
            <origin xyz="-0.0685 4.28626e-19 -0.0035" rpy="0 -0 0" />
            <inertia ixx="0.00158466" ixy="-1.43579e-05" ixz="2.10795e-05" iyy="0.0020147" iyz="-1.72417e-05" izz="0.000977226" />
        </inertial>
    </link>
    <link name="l_forearm">
        <inertial>
            <mass value="0.525" />
            <origin xyz="0 0.1373 8.4072e-18" rpy="0 -0 0" />
            <inertia ixx="0.000765393" ixy="4.337e-06" ixz="2.39e-07" iyy="0.000164578" iyz="1.9381e-05" izz="0.00069806" />
        </inertial>
    </link>
    <link name="l_gripper">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="l_hand">
        <inertial>
            <mass value="0.213" />
            <origin xyz="0.0625 0 -0.016" rpy="0 -0 0" />
            <inertia ixx="0.000157143" ixy="1.278e-05" ixz="4.823e-06" iyy="0.000247995" iyz="-1.8188e-05" izz="0.000380535" />
        </inertial>
    </link>
    <link name="l_hip_1">
        <inertial>
            <mass value="0.695" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00447053" ixy="-2.2209e-05" ixz="1.39712e-05" iyy="0.00325085" iyz="4.77629e-05" izz="0.00490487" />
        </inertial>
    </link>
    <link name="l_hip_2">
        <inertial>
            <mass value="0.982" />
            <origin xyz="0 0 0.0665" rpy="0 -0 0" />
            <inertia ixx="0.0253646" ixy="1.2116e-06" ixz="0.000491081" iyy="0.0272714" iyz="1.15713e-05" izz="0.0041739" />
        </inertial>
    </link>
    <link name="l_shank">
        <inertial>
            <mass value="2.032" />
            <origin xyz="-0.2005 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0154559" ixy="-0.0013903" ixz="-0.0039454" iyy="0.070277" iyz="0.00071995" izz="0.0659645" />
        </inertial>
    </link>
    <link name="l_shoulder_1">
        <inertial>
            <mass value="0.189" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="5.4421e-05" ixy="9e-09" ixz="0" iyy="9.331e-06" iyz="-1.7e-08" izz="5.4862e-05" />
        </inertial>
    </link>
    <link name="l_shoulder_2">
        <inertial>
            <mass value="0.179" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0001372" ixy="4.66e-07" ixz="3.65e-07" iyy="8.2927e-05" iyz="-2.0524e-05" izz="9.9274e-05" />
        </inertial>
    </link>
    <link name="l_sole">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="l_thigh">
        <inertial>
            <mass value="1.522" />
            <origin xyz="-0.0009175 -0.234545 1.43617e-17" rpy="0 -0 0" />
            <inertia ixx="0.0454917" ixy="-0.000940971" ixz="5.37405e-05" iyy="0.01004" iyz="0.001203" izz="0.0458255" />
        </inertial>
    </link>
    <link name="l_upper_arm">
        <inertial>
            <mass value="0.156157" />
            <origin xyz="0.015 9.36797e-18 0.068" rpy="0 -0 0" />
            <inertia ixx="4.84118e-05" ixy="-5.662e-08" ixz="-4.3618e-06" iyy="5.79067e-05" iyz="-7.42844e-07" izz="6.7103e-05" />
        </inertial>
    </link>
    <link name="l_upper_thigh">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="l_wrist_1">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="lap_belt_1">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0004544" ixy="-4.263e-05" ixz="-3.889e-08" iyy="0.001141" iyz="0" izz="0.001236" />
        </inertial>
    </link>
    <link name="lap_belt_2">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0005308" ixy="-1.923e-06" ixz="5.095e-05" iyy="0.002031" iyz="-3.849e-07" izz="0.001803" />
        </inertial>
    </link>
    <link name="neck_1">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="neck_2">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="r_ankle_1">
        <inertial>
            <mass value="0.643" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4.76593" ixy="9.7426e-06" ixz="-2.68085e-05" iyy="0.0040935" iyz="0.000353796" izz="0.0036688" />
        </inertial>
    </link>
    <link name="r_arm">
        <inertial>
            <mass value="0.729" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.000408" ixy="2.29e-06" ixz="1.08e-06" iyy="0.00026" iyz="3.57e-06" izz="0.00038" />
        </inertial>
    </link>
    <link name="r_elbow_1">
        <inertial>
            <mass value="0.074" />
            <origin xyz="0.015 0 0" rpy="0 -0 0" />
            <inertia ixx="2.84e-05" ixy="-5.02e-07" ixz="-3.99e-07" iyy="9.24e-06" iyz="-3.71e-07" izz="2.99e-05" />
        </inertial>
    </link>
    <link name="r_foot">
        <inertial>
            <mass value="0.861" />
            <origin xyz="-0.0685 4.28626e-19 -0.0035" rpy="0 -0 0" />
            <inertia ixx="0.00158466" ixy="1.43577e-05" ixz="2.10795e-05" iyy="0.0020147" iyz="1.72417e-05" izz="0.000977226" />
        </inertial>
    </link>
    <link name="r_forearm">
        <inertial>
            <mass value="0.525" />
            <origin xyz="0 -0.1373 -8.4072e-18" rpy="0 -0 0" />
            <inertia ixx="0.000766" ixy="5.66e-06" ixz="1.4e-06" iyy="0.000164" iyz="1.82e-05" izz="0.000699" />
        </inertial>
    </link>
    <link name="r_gripper">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="r_hand">
        <inertial>
            <mass value="0.213" />
            <origin xyz="0.0625 0 0.016" rpy="0 -0 0" />
            <inertia ixx="0.000154" ixy="1.26e-05" ixz="-6.08e-06" iyy="0.00025" iyz="1.76e-05" izz="0.000378" />
        </inertial>
    </link>
    <link name="r_hip_1">
        <inertial>
            <mass value="0.695" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00447053" ixy="-2.2209e-05" ixz="-1.39712e-05" iyy="0.00325085" iyz="-4.77629e-05" izz="0.00490487" />
        </inertial>
    </link>
    <link name="r_hip_2">
        <inertial>
            <mass value="0.982" />
            <origin xyz="0 0 0.0665" rpy="0 -0 0" />
            <inertia ixx="0.0253646" ixy="1.2116e-06" ixz="0.000491081" iyy="0.0272714" iyz="1.15713e-05" izz="0.0041739" />
        </inertial>
    </link>
    <link name="r_shank">
        <inertial>
            <mass value="2.032" />
            <origin xyz="-0.2005 0 0" rpy="0 -0 0" />
            <inertia ixx="0.0154559" ixy="-0.0013903" ixz="0.0039454" iyy="0.070277" iyz="-0.00071995" izz="0.0659645" />
        </inertial>
    </link>
    <link name="r_shoulder_1">
        <inertial>
            <mass value="0.189" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.000123" ixy="2.1e-08" ixz="-1e-09" iyy="2.44e-05" iyz="4.22e-06" izz="0.000113" />
        </inertial>
    </link>
    <link name="r_shoulder_2">
        <inertial>
            <mass value="0.179" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.000137" ixy="-4.53e-07" ixz="2.03e-07" iyy="8.3e-05" iyz="2.07e-05" izz="9.93e-05" />
        </inertial>
    </link>
    <link name="r_sole">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="r_thigh">
        <inertial>
            <mass value="1.522" />
            <origin xyz="-0.0009175 -0.234545 1.43617e-17" rpy="0 -0 0" />
            <inertia ixx="0.0454917" ixy="-0.000940971" ixz="-5.37405e-05" iyy="0.01004" iyz="-0.001203" izz="0.0458255" />
        </inertial>
    </link>
    <link name="r_upper_arm">
        <inertial>
            <mass value="0.155" />
            <origin xyz="0.015 -8.93429e-18 0.068" rpy="0 -0 0" />
            <inertia ixx="3.44122e-05" ixy="3.56977e-07" ixz="-3.95372e-06" iyy="4.33544e-05" iyz="-6.5128e-06" izz="6.49393e-05" />
        </inertial>
    </link>
    <link name="r_upper_thigh">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="r_wrist_1">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="root_link">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <link name="torso">
        <inertial>
            <mass value="0" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>
    <joint name="torso_pitch" type="continuous">
        <origin xyz="-7.46298e-34 -0.0055 0" rpy="-1.5708 -0 -1.5708" />
        <axis xyz="0 -1 6.12323e-17" />
        <parent link="lap_belt_2" />
        <child link="chest" />
    </joint>
    <joint name="neck_yaw" type="continuous">
        <origin xyz="-5.77779e-34 0 0" rpy="-1.5708 -0 1.5708" />
        <axis xyz="0 -1 6.12323e-17" />
        <parent link="neck_2" />
        <child link="head" />
    </joint>
    <joint name="imu_frame_fixed_joint" type="fixed">
        <origin xyz="0.0185 -0.1108 0.0066" rpy="1.5708 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="head" />
        <child link="imu_frame" />
    </joint>
    <joint name="l_ankle_pitch" type="continuous">
        <origin xyz="-0.2005 0 0" rpy="1.5708 -0 0" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="l_shank" />
        <child link="l_ankle_1" />
    </joint>
    <joint name="l_arm_ft_sensor" type="fixed">
        <origin xyz="0.015 9.36797e-18 0.15228" rpy="-1.5708 0 0" />
        <axis xyz="0 0 0" />
        <parent link="l_upper_arm" />
        <child link="l_arm" />
    </joint>
    <joint name="l_elbow" type="continuous">
        <origin xyz="0 0 0" rpy="1.5708 -0 0" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="l_arm" />
        <child link="l_elbow_1" />
    </joint>
    <joint name="l_ankle_roll" type="continuous">
        <origin xyz="0 0 0" rpy="3.14159 -0 0" />
        <axis xyz="0 1.22465e-16 -1" />
        <parent link="l_ankle_1" />
        <child link="l_foot" />
    </joint>
    <joint name="l_wrist_prosup" type="continuous">
        <origin xyz="-0.015 0 0" rpy="1.5708 -0 -1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="l_elbow_1" />
        <child link="l_forearm" />
    </joint>
    <joint name="l_gripper_joint" type="fixed">
        <origin xyz="0.0625 0 -0.016" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="l_hand" />
        <child link="l_gripper" />
    </joint>
    <joint name="l_wrist_yaw" type="continuous">
        <origin xyz="0 0 0" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="l_wrist_1" />
        <child link="l_hand" />
    </joint>
    <joint name="l_hip_pitch" type="continuous">
        <origin xyz="0 -0.0681 -0.1199" rpy="-2.77556e-17 1.5708 2.77556e-17" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="root_link" />
        <child link="l_hip_1" />
    </joint>
    <joint name="l_hip_roll" type="continuous">
        <origin xyz="0 0 0" rpy="3.06162e-17 1.5708 3.14159" />
        <axis xyz="-1 0 -6.12323e-17" />
        <parent link="l_hip_1" />
        <child link="l_hip_2" />
    </joint>
    <joint name="l_knee" type="continuous">
        <origin xyz="-0.0009175 -0.234545 1.43617e-17" rpy="3.14159 2.09589e-24 1.5708" />
        <axis xyz="0 1.22465e-16 -1" />
        <parent link="l_thigh" />
        <child link="l_shank" />
    </joint>
    <joint name="l_shoulder_pitch" type="continuous">
        <origin xyz="0.00525 0.1433 -0.11026" rpy="1.309 5.55112e-17 1.5708" />
        <axis xyz="0 -1 5.55112e-17" />
        <parent link="chest" />
        <child link="l_shoulder_1" />
    </joint>
    <joint name="l_shoulder_roll" type="continuous">
        <origin xyz="0 0 0" rpy="1.5708 -0 -1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="l_shoulder_1" />
        <child link="l_shoulder_2" />
    </joint>
    <joint name="l_sole_joint" type="fixed">
        <origin xyz="-0.0685 4.28626e-19 -0.0035" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="l_foot" />
        <child link="l_sole" />
    </joint>
    <joint name="l_hip_yaw" type="continuous">
        <origin xyz="1.68519e-34 0 0" rpy="-1.5708 -0 -1.5708" />
        <axis xyz="0 -1 6.12323e-17" />
        <parent link="l_upper_thigh" />
        <child link="l_thigh" />
    </joint>
    <joint name="l_shoulder_yaw" type="continuous">
        <origin xyz="4.33681e-19 1.73472e-18 0" rpy="6.12323e-17 -0 1.309" />
        <axis xyz="0 6.12323e-17 1" />
        <parent link="l_shoulder_2" />
        <child link="l_upper_arm" />
    </joint>
    <joint name="l_leg_ft_sensor" type="fixed">
        <origin xyz="0 0 0" rpy="3.14159 0 -1.5708" />
        <axis xyz="0 0 0" />
        <parent link="l_hip_2" />
        <child link="l_upper_thigh" />
    </joint>
    <joint name="l_wrist_pitch" type="continuous">
        <origin xyz="0 0.1373 8.4072e-18" rpy="1.5708 -0 1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="l_forearm" />
        <child link="l_wrist_1" />
    </joint>
    <joint name="torso_yaw" type="continuous">
        <origin xyz="0 0 0" rpy="3.14159 -1.5708 -3.06162e-17" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="root_link" />
        <child link="lap_belt_1" />
    </joint>
    <joint name="torso_roll" type="continuous">
        <origin xyz="0.032 -2.67276e-51 0" rpy="1.5708 -0 -1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="lap_belt_1" />
        <child link="lap_belt_2" />
    </joint>
    <joint name="neck_pitch" type="continuous">
        <origin xyz="0.00231 0.1933 -1.18362e-17" rpy="1.5708 -0 1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="chest" />
        <child link="neck_1" />
    </joint>
    <joint name="neck_roll" type="continuous">
        <origin xyz="0.0095 0 0" rpy="-1.5708 -0 -1.5708" />
        <axis xyz="0 -1 6.12323e-17" />
        <parent link="neck_1" />
        <child link="neck_2" />
    </joint>
    <joint name="r_ankle_pitch" type="continuous">
        <origin xyz="-0.2005 0 0" rpy="1.5708 -0 0" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="r_shank" />
        <child link="r_ankle_1" />
    </joint>
    <joint name="r_arm_ft_sensor" type="fixed">
        <origin xyz="0.015 -8.93429e-18 0.15228" rpy="1.5708 -0 3.14159" />
        <axis xyz="0 0 0" />
        <parent link="r_upper_arm" />
        <child link="r_arm" />
    </joint>
    <joint name="r_elbow" type="continuous">
        <origin xyz="0 0 0" rpy="1.5708 -0 0" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="r_arm" />
        <child link="r_elbow_1" />
    </joint>
    <joint name="r_ankle_roll" type="continuous">
        <origin xyz="0 0 0" rpy="3.14159 -0 0" />
        <axis xyz="0 1.22465e-16 -1" />
        <parent link="r_ankle_1" />
        <child link="r_foot" />
    </joint>
    <joint name="r_wrist_prosup" type="continuous">
        <origin xyz="0.015 0 0" rpy="1.5708 -0 -1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="r_elbow_1" />
        <child link="r_forearm" />
    </joint>
    <joint name="r_gripper_joint" type="fixed">
        <origin xyz="0.0625 0 0.016" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="r_hand" />
        <child link="r_gripper" />
    </joint>
    <joint name="r_wrist_yaw" type="continuous">
        <origin xyz="0 0 0" rpy="0 -0 3.14159" />
        <axis xyz="0 0 1" />
        <parent link="r_wrist_1" />
        <child link="r_hand" />
    </joint>
    <joint name="r_hip_pitch" type="continuous">
        <origin xyz="0 0.0681 -0.1199" rpy="-2.77556e-17 1.5708 2.77556e-17" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="root_link" />
        <child link="r_hip_1" />
    </joint>
    <joint name="r_hip_roll" type="continuous">
        <origin xyz="0 0 0" rpy="2.77556e-17 1.5708 -2.77556e-17" />
        <axis xyz="-1 0 6.12323e-17" />
        <parent link="r_hip_1" />
        <child link="r_hip_2" />
    </joint>
    <joint name="r_knee" type="continuous">
        <origin xyz="-0.0009175 -0.234545 1.43617e-17" rpy="3.14159 2.09589e-24 1.5708" />
        <axis xyz="0 1.22465e-16 -1" />
        <parent link="r_thigh" />
        <child link="r_shank" />
    </joint>
    <joint name="r_shoulder_pitch" type="continuous">
        <origin xyz="0.00525 0.1433 0.11026" rpy="-1.309 -0 1.5708" />
        <axis xyz="0 1 5.55112e-17" />
        <parent link="chest" />
        <child link="r_shoulder_1" />
    </joint>
    <joint name="r_shoulder_roll" type="continuous">
        <origin xyz="0 0 0" rpy="-1.5708 -0 -1.5708" />
        <axis xyz="0 -1 6.12323e-17" />
        <parent link="r_shoulder_1" />
        <child link="r_shoulder_2" />
    </joint>
    <joint name="r_sole_joint" type="fixed">
        <origin xyz="-0.0685 4.28626e-19 -0.0035" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="r_foot" />
        <child link="r_sole" />
    </joint>
    <joint name="r_hip_yaw" type="continuous">
        <origin xyz="1.68519e-34 0 0" rpy="-1.5708 -0 -1.5708" />
        <axis xyz="0 -1 6.12323e-17" />
        <parent link="r_upper_thigh" />
        <child link="r_thigh" />
    </joint>
    <joint name="r_shoulder_yaw" type="continuous">
        <origin xyz="-4.33681e-19 0 0" rpy="3.14159 -2.86886e-24 1.309" />
        <axis xyz="0 6.12323e-17 -1" />
        <parent link="r_shoulder_2" />
        <child link="r_upper_arm" />
    </joint>
    <joint name="r_leg_ft_sensor" type="fixed">
        <origin xyz="0 0 0" rpy="0 -0 1.5708" />
        <axis xyz="0 0 0" />
        <parent link="r_hip_2" />
        <child link="r_upper_thigh" />
    </joint>
    <joint name="r_wrist_pitch" type="continuous">
        <origin xyz="0 -0.1373 -8.4072e-18" rpy="1.5708 -0 1.5708" />
        <axis xyz="0 1 6.12323e-17" />
        <parent link="r_forearm" />
        <child link="r_wrist_1" />
    </joint>
    <joint name="base_fixed_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="base_link" />
        <child link="root_link" />
    </joint>
    <joint name="torso_joint" type="fixed">
        <origin xyz="0.00231 0.1933 -1.18362e-17" rpy="0 -0 0" />
        <axis xyz="0 0 0" />
        <parent link="chest" />
        <child link="torso" />
    </joint>
</robot>
