name: gh-pages
on:
  push:
    branches:
      - '*'
      - '!gh-pages'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@master

      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest

      - name: Dependencies [apt]
        shell: bash -l {0}
        run: |
          # The following dependencies are not available in conda
          # See: https://github.com/conda-forge/texlive-core-feedstock/issues/19
          sudo apt update
          sudo apt install -y xsltproc texlive ghostscript graphviz texlive-base texlive-latex-extra texlive-fonts-extra texlive-fonts-recommended flex bison

      - name: Dependencies
        shell: bash -l {0}
        run: |
          # Workaround for https://github.com/conda-incubator/setup-miniconda/issues/186
          conda config --remove channels defaults

          # Dependencies
          mamba install doxygen=1.9.1 toml pygments docutils jinja2

      - name: Fetch m.css
        shell: bash -l {0}
        run: |
          cd ${GITHUB_WORKSPACE}
          git clone https://github.com/mosra/m.css.git
          cd m.css
          git checkout 4bf4ddade48717ffabbdc6a1fd7ed15a75f9bec3

      - name: Build docs
        shell: bash -l {0}
        run: |
          cd docs
          git clone https://github.com/robotology/idyntree.git
          python3 ./generate_website.py --mcss_path ${GITHUB_WORKSPACE}/m.css/documentation/doxygen.py

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: docs/site

  deploy:
    runs-on: ubuntu-20.04
    needs: [build]
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: site
          path: site
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: site
